//首先引入外部css
@import "normalize";
@import "base";
@import "common";


//导航区域
.mm_nav {
  margin-top: 0.2rem;
  background-color: #fff;
  padding: 0.2rem 0;
  li {
    width: 25%;
    float: left;
    a {
      display: block;
      padding-top: 0.25rem;
      img {
        width: 1rem;
        margin: 0 auto;
      }
      p {
        text-align: center;
      }
    }
  }
  .hide{
    display: none;
  }
}
//推荐区域
.mm_recommend {
  margin-top: 0.05rem;
  background-color: #fff;
  .title {
    background-color: @mainColor;
    background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
    height: 0.7rem;
    padding: 0.15rem 0.2rem;
    line-height: 0.4rem;
    span {
      color: #fff;
      font-size: 0.16rem;
    }
    img {
      width: 0.35rem;
      margin-top: 0.02rem;
    }
  }
  .info {
    li {
      padding: 0.3rem 0.15rem 0.3rem 0.3rem;
      border-bottom: 1px solid #ccc;
      a{
        display: block;
        img {
          width: 100px;
          height: 100px;
          float: left;
        }
        .detail {
          height: 100%;
          overflow: hidden;
          position: relative;
          padding-left: 5px;
          p:nth-child(1) {
            height: 1rem;
            min-height: 60px;
            span {
              color: #ff9332;
            }
          }
          p:nth-child(2) {
            font-size: 12px;
            color: #a1a1a1;
            left: 0;
            bottom: 30px;
            span {
              i {
                width: 15px;
                height: 16px;
                display: inline-block;
                margin-right: 5px;
                background: url("../images/comment.svg");
              }
            }
          }
        }
      }
    }
  }
}

//更多推荐
.moreRecommend {
  height: 1.1rem;
  padding: 0.22rem;
  a{
    display: block;
    color: #000;
    line-height: 0.65rem;
    text-align: center;
    font-weight: bold;
    border: 1px solid #ccc;
    border-radius: 5px;
    i {
      margin-left: 3px;
    }
  }
}

//品牌排行
.brand {
  height: 0.7rem;
  padding: 0.15rem;
  background-color: @mainColor;
  background: -webkit-gradient(linear, 0 0, 0 100%, from(#ffaf47), to(#ff9000));
  font-size: 0.24rem;
  span {
    color: #fff;
  }
  img {
    width: 0.35rem;
    height: 0.35rem;
  }
}

